.header {
    grid-area: h;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 20fr;
}
.header img {
    width: 60px;
    height: 85%;
}

.article{
    color: #6181c2;
    font-size: 15px;
    padding: 20px;
}

.loginBlock {
    width: inherit;
    float: left;
}
.loginBlock a {
    color: cornflowerblue;
}